<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div style="border-width: 5px;
            border-color: red;
            border-style: solid;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 50px;
            padding-top: 30px;">
  <h1 style="text-align: center; color: hotpink;">Actors</h1>
  <app-child1></app-child1>
  <app-child2></app-child2>
</div>